<div>
    <h2 id="page-heading">
        <span>Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry" [routerLink]="['/entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Create new Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div *ngIf="entries" class="container">
        <div class="col-md-10" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0">
            <div *ngFor="let entry of entries ;let i = index; trackBy: trackId" id="singleBlogWrapper">
                <div id="blogPrew" class="col-md-12 row padd">
                    <div id="imgPrew" [innerHTML]="entry.img" class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div id="prewTitle" class="padd"><h5 id="entryName" [routerLink]="['/entry', entry.id, 'view' ]">{{entry.title}}</h5></div>
                        <div id="textPrewWrap"><p id="textPrev" class="padd">{{entry.prev}}</p></div>
                        <div id="blogControls"class="padd">
                            <div id="blogNameWrap"><p>{{entry.blog.name}}</p></div>
                            <fa-icon style="text-align: right" id="editIcon" [routerLink]="['/entry', entry.id, 'edit']"  [icon]="'pencil-alt'"></fa-icon>
                            <fa-icon style="text-align: right" id="deleteIcon" [routerLink]="['/', { outlets: { popup: 'entry/'+ entry.id + '/delete'} }]" [icon]="'times'"></fa-icon>
                        </div>
                        
                    </div>
                </div>
                 <!-- <div id="blogControls">
                    <div class="btn-group flex-btn-group-container">
                         <button type="submit" [routerLink]="['/entry', entry.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/entry', entry.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'entry/'+ entry.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </div>  -->
            
            </div>
        </div>
    </div>
</div>
