<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entry">
            <h2><span>Entry</span> {{entry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <div id="singleBlogWrapper" class="row">
                    <div id="blogHead" class="row col-md-3">
                        <div id="blogDate">
                            <div>
                                <span>{{entry.date | date:'d'}}</span>
                            </div>
                            <div>
                                <span>{{entry.date | date:'MMMM'}}</span>
                            </div>
                            <span> {{entry.date | date:'y'}}</span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="blogInfo">
                            <h4>{{entry.title}}</h4>
                        </div>
                        <div id="contentWrapper" [innerHTML]="entry.content">
                        </div>
                    </div>
                </div>
                <!-- <dt><span>Title</span></dt>
                <dd>
                    <span>{{entry.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{entry.content}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{entry.date}}</span>
                </dd>
                <dt><span>Blog</span></dt>
                <dd>
                    <div *ngIf="entry.blog">
                        <a [routerLink]="['/blog', entry.blog?.id, 'view']">{{entry.blog?.name}}</a>
                    </div>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of entry.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl> -->

                <button type="submit" (click)="previousState()" class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                </button>

                <button type="button" [routerLink]="['/entry', entry.id, 'edit']" class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                </button>
        </div>
    </div>
</div>